body {
	margin: 0;
	background: rgb(230, 221, 221);
}

button {
	font-size: inherit;
	margin: 2px;
}

button[digit] {
	background: rgb(230, 221, 221);
	border: solid 2px rgb(193, 180, 176);
}

button[operator] {
	background: rgb(191, 181, 178);
	border: solid 2px rgb(156, 145, 140);
}

button[equal] {
	background: rgb(211, 99, 96);
	border: solid 2px rgb(141, 54, 59);
}

button[clear] {
	background: rgb(248, 222, 159);
	border: solid 2px rgb(226, 186, 127);
	font-size: 0.8em;
}

calc-app {
	height: 100vh;

	width: 450px;
	font-size: 2em;

	margin: auto;

	display: flex;
	justify-content: end;
	flex-direction: column;
}

calc-controls {
	width: 100%;
	display: grid;
	font-size: 0.75em;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'clea clea back divi'
		'but7 but8 but9 mult'
		'but4 but5 but6 minu'
		'but1 but2 but3 plus'
		'but0 but0 poin equa';
}

calc-tape {
	background: white;
	width: calc(100% - 12px);
	height: 100%;

	display: flex;
	align-items: flex-end;
	justify-content: end;

	margin: 3px;
	padding: 3px;
}

calc-display {
	width: calc(100% - 12px);
	text-align: end;
	background: rgb(10, 10, 23);
	color: rgb(152, 152, 229);

	margin: 3px;
	padding: 3px;
}

calc-controls {
	align-self: center;
	display: grid;
	font-size: 0.75em;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'clea clea back divi'
		'but7 but8 but9 mult'
		'but4 but5 but6 minu'
		'but1 but2 but3 plus'
		'but0 but0 poin equa';
}
